

body 
{
    background-color: aquamarine;

  }

  img {
    max-width: 100%;
    max-height: 50%;
    padding:10px;
}

a
{
  color: #11999e;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  text-align: center;
}

.bottom-container
{
 background-color: rgb(250, 201, 250);    
}

#cake{
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer-link{
    text-decoration: none;
    color:black;
    text-align: center;
}

#footer{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

